Repository browscap/browscap, pull requests merged in 2018-10, with the labels that each got.

#1975 Adding many missing browser versions
  resources/user-agents/apps/instagram-app/instagram-app-7-0-on.json
  resources/user-agents/apps/instagram-app/instagram-app-ios-11-0-on.json
  resources/user-agents/apps/microsoft/bing-search-app-android-8.json
  resources/user-agents/apps/naver/naver-ios-7-0-on.json
  resources/user-agents/apps/snapchat/snapchat-10-33-on.json
  resources/user-agents/apps/yandex/ya-app-ios.json
  resources/user-agents/browsers/2345-browser/2345-browser.json
  resources/user-agents/browsers/coc-coc-browser/coc-coc-browser-android-48-on.json
  resources/user-agents/browsers/firefox-focus/firefox-focus-android-1-0-on.json
  resources/user-agents/browsers/firefox-focus/firefox-focus-generic.json
  resources/user-agents/browsers/firefox-focus/firefox-focus-ios-1-0-on.json
  resources/user-agents/browsers/firefox-on-ios/firefox-ios-1-x.json
  resources/user-agents/browsers/firefox-on-ios/firefox-ios-2-on.json
  resources/user-agents/browsers/icedragon/icedragon-16-on.json
  resources/user-agents/browsers/iceweasel/iceweasel-30-40.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-android-8-0-on.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-generic.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-ios.json
  resources/user-agents/browsers/opera-mini/opera-mini-10-0-on.json
  resources/user-agents/browsers/palemoon/palemoon-27-on.json
  resources/user-agents/browsers/palemoon/palemoon-5-19.json
  resources/user-agents/browsers/samsung/samsung-android-browser-6-2-on.json
  resources/user-agents/browsers/seznam-browser/seznam-browser-3-0-on.json
  resources/user-agents/browsers/silk/silk-44-1-on.json
  resources/user-agents/browsers/sogou/sogou-mobile.json
  resources/user-agents/browsers/uc-browser/uc-web-12.json
  resources/user-agents/browsers/uc-browser/uc-web-desktop-3-0-to-5.8.json
  resources/user-agents/browsers/uc-browser/uc-web-generic.json
  resources/user-agents/crawlers/google/google.json
  tests/issues/issue-1974.php
Labels: Update Agent

#1973 Adding Deg-Degan browser
  resources/browsers/browser.json
  resources/user-agents/browsers/misc/degdegan.json
  tests/issues/issue-1963.php
Labels: New Agent

#1983 add Datanyze and localsearch
  resources/browsers/bot.json
  resources/user-agents/crawlers/data-mining/data-mining.json
  resources/user-agents/crawlers/search-engines/search-engines.json
  tests/issues/issue-1972.php
Labels: New Agent

#1984 add SnapChat Proxy
  resources/browsers/bot.json
  resources/user-agents/crawlers/proxy-servers/snapchat-proxy.json
  tests/issues/issue-1971.php
Labels: New Agent

#1989 optimize rules for ANTGalio
  resources/user-agents/apps/ant-galio/ant-galio.json
Labels: enhancement

#1990 change rule for the kamelio app
  resources/user-agents/apps/kamelio-app/kamelio-app.json
Labels: enhancement

#1982 add Android WebView on Huawei MediaPad T3 10
  resources/user-agents/browsers/android-webview/android-webview-43-on.json
  tests/issues/issue-1968.php
Labels: Update Agent

#1987 add Apache HttpClient
  resources/browsers/bot.json
  resources/user-agents/crawlers/rippers/apache-httpclient.json
  tests/issues/issue-1980.php
Labels: New Agent

#1991 optimize rules for the quora app
  resources/user-agents/apps/quora-app/quora-app.json
Labels: enhancement

#1992 optimize rules for the Yahoo apps
  resources/user-agents/apps/yahoo-app/yahoo-app.json
  resources/user-agents/apps/yahoo-app/yahoo-mobile-app.json
Labels: enhancement

#1993 change rules for the wordpress app
  resources/user-agents/apps/wordpress/word-press-app.json
Labels: enhancement

#1994 optimize rules for Firefox on FirefoxOs
  resources/user-agents/browsers/firefox-on-firefoxos/firefox-os-0-x.json
  resources/user-agents/browsers/firefox-on-firefoxos/firefox-os-1-0.json
  resources/user-agents/browsers/firefox-on-firefoxos/firefox-os-1-2.json
  resources/user-agents/browsers/firefox-on-firefoxos/firefox-os-1-4.json
Labels: enhancement
