Repository browscap/browscap, pull requests merged in 2018-06, with the labels that each got.

#1882 add SpringBot
  resources/browsers/bot.json
  resources/user-agents/crawlers/social-networking/social-networking.json
  tests/issues/issue-1871.php
Labels: New Agent

#1883 add MauiBot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-1872.php
Labels: New Agent

#1884 change proximic bot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-092.php
  tests/issues/issue-1875.php
Labels: Update Agent

#1885 add MailPoet Cron Service
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-1876.php
Labels: New Agent

#1887 Aborting useragent test suites when INI file building throws an exception
  .travis.yml
  tests/UserAgentsTest/V3/FullTest.php
  tests/UserAgentsTest/V3/LiteTest.php
  tests/UserAgentsTest/V3/StandardTest.php
  tests/UserAgentsTest/V4/FullTest.php
  tests/UserAgentsTest/V4/LiteTest.php
  tests/UserAgentsTest/V4/StandardTest.php
Labels: enhancement

#1893 Adding new pattern for new version of Snapchat on iOS
  resources/user-agents/apps/snapchat/snapchat-10-23-to-10-32.json
  resources/user-agents/apps/snapchat/snapchat-10-33-on.json
  resources/user-agents/apps/snapchat/snapchat-generic.json
  tests/issues/issue-1892.php
Labels: Update Agent

#1895 Adding iOS 12 and Safari 12 (both iOS and macOS) and macOS 10.14
  resources/platforms.json
  resources/user-agents/apps/facebook/facebook-app.json
  resources/user-agents/apps/facebook/facebook-messenger-app.json
  resources/user-agents/apps/listia-app/listia-app-generic.json
  resources/user-agents/browsers/chrome/chrome-ios-48-on.json
  resources/user-agents/browsers/chrome/chrome-ios-generic.json
  resources/user-agents/browsers/mobile-safari-uiwebview/mobile-safari-uiwebview.json
  resources/user-agents/browsers/mobile-safari/mobile-safari-12-0.json
  resources/user-agents/browsers/mobile-safari/mobile-safari-generic.json
  resources/user-agents/browsers/safari/safari-12-0.json
  resources/user-agents/browsers/safari/safari-generic.json
  tests/issues/issue-1894.php
Labels: Update Agent

#1900 add Android 9 and Essential Phone
  resources/devices/mobile-phone/essential.json
  resources/platforms.json
  resources/user-agents/browsers/chrome/chrome-android-43-on.json
  resources/user-agents/browsers/chrome/chrome-android-generic.json
  tests/issues/issue-1896.php
Labels: Update Agent

#1898 add Coveobot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-1897.php
Labels: New Agent
