Repository browscap/browscap, pull requests merged in 2018-04, with the labels that each got.

#1847 add Mixmax Link Preview
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-1833.php
Labels: New Agent

#1851 Aligning IE to supported versions of windows, adding a lot of tests for coverage
  resources/platforms.json
  resources/user-agents/apps/itunes/itunes-1-2-to-4-7.json
  resources/user-agents/apps/itunes/itunes-10-7-to-11-4.json
  resources/user-agents/apps/itunes/itunes-11-5-to-12-2.json
  resources/user-agents/apps/itunes/itunes-12-3-to-12-4.json
  resources/user-agents/apps/itunes/itunes-12-5-on.json
  resources/user-agents/apps/itunes/itunes-4-8-to-6-0.json
  resources/user-agents/apps/itunes/itunes-6-1-to-7-7.json
  resources/user-agents/apps/itunes/itunes-7-8-to-9-2.json
  resources/user-agents/apps/itunes/itunes-9-3-to-10-6.json
  resources/user-agents/apps/itunes/itunes-generic.json
  resources/user-agents/browsers/ie/ie-10-0.json
  resources/user-agents/browsers/ie/ie-11-0.json
  resources/user-agents/browsers/ie/ie-6-0.json
  resources/user-agents/browsers/ie/ie-7-0.json
  resources/user-agents/browsers/ie/ie-7-0b.json
  resources/user-agents/browsers/ie/ie-8-0.json
  resources/user-agents/browsers/ie/ie-9-0.json
  tests/issues/issue-000-invalid-versions.php
  tests/issues/issue-113.php
  tests/issues/issue-1219.php
  tests/issues/issue-1846.php
  tests/issues/issue-436.php
  tests/issues/issue-865.php
Labels: Update Agent, enhancement

#1852 Adding Safari 11.1 (desktop) with tests
  resources/user-agents/browsers/safari/safari-11-0.json
  resources/user-agents/browsers/safari/safari-11-1.json
  tests/issues/issue-1848.php
Labels: Update Agent

#1854 Adding Snapchat App's Webview UA (iOS)
  resources/browsers/application.json
  resources/platforms.json
  resources/user-agents/apps/snapchat/snapchat-10-13-to-10-16.json
  resources/user-agents/apps/snapchat/snapchat-10-19-to-10-22.json
  resources/user-agents/apps/snapchat/snapchat-10-23-on.json
  resources/user-agents/apps/snapchat/snapchat-generic.json
  tests/issues/issue-1843.php
Labels: New Agent

#1859 Nokia devices
  resources/devices/mobile-phone/nokia.json
  resources/user-agents/apps/dalvik/dalvik-2-1.json
  resources/user-agents/apps/facebook/facebook-app.json
  resources/user-agents/browsers/android-webview/android-webview-4-0.json
  resources/user-agents/browsers/chrome/chrome-android-43-on.json
  resources/user-agents/browsers/cm-browser/cm-browser.json
  resources/user-agents/browsers/maxthon/maxthon-4-4-on.json
  resources/user-agents/browsers/puffin/puffin-5-0-on.json
  resources/user-agents/browsers/samsung/samsung-android-browser-6-2-on.json
  resources/user-agents/browsers/uc-browser/uc-mini-8-8-to-10.9.json
  resources/user-agents/browsers/uc-browser/uc-mini-generic.json
  resources/user-agents/browsers/uc-browser/uc-web-11.json
  resources/user-agents/browsers/uc-browser/uc-web-12.json
  resources/user-agents/browsers/uc-browser/uc-web-generic.json
  resources/user-agents/browsers/yabrowser/yabrowser-android-15-2-on.json
  tests/issues/issue-1856.php
Labels: Update Agent
