Repository browscap/browscap, pull requests merged in 2018-09, with the labels that each got.

#1944 add ShopKeep App
  resources/browsers/application.json
  resources/devices/mobile-phone/motorola.json
  resources/platforms.json
  resources/user-agents/apps/shopkeep/shopkeep-generic.json
  resources/user-agents/apps/shopkeep/shopkeep.json
  tests/issues/issue-1920.php
Labels: New Agent

#1945 add Puffin for Windows
  resources/user-agents/browsers/puffin/puffin-4-1-to-4-8.json
  resources/user-agents/browsers/puffin/puffin-5-0-to-6-1.json
  resources/user-agents/browsers/puffin/puffin-7-0-on.json
  resources/user-agents/browsers/puffin/puffin-generic.json
  tests/issues/issue-1922.php
Labels: Update Agent

#1949 add Voyo i8Max 4G
  resources/devices/tablet/voyo.json
  resources/user-agents/browsers/android-webview/android-webview-43-on.json
  tests/issues/issue-1943.php
Labels: Update Agent

#1946 add test for Chrome on Xperia Z4 LTE
  resources/user-agents/browsers/chrome/chrome-android-43-on.json
  tests/issues/issue-1924.php
Labels: Update Agent

#1948 add Criteo Bot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/criteo.json
  tests/issues/issue-1942.php
Labels: New Agent

#1947 add Bloomberg bot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-1941.php
Labels: New Agent

#1960 Adding Vivo Browser
  resources/browsers/browser.json
  resources/devices/mobile-phone/vivo.json
  resources/user-agents/browsers/vivo/vivo-5-0-to-5-2.json
  resources/user-agents/browsers/vivo/vivo-5-3-on.json
  resources/user-agents/browsers/vivo/vivo-generic.json
  tests/issues/issue-1959.php
Labels: New Agent

#1962 Add Fluid App
  resources/browsers/application.json
  resources/user-agents/apps/fluidapp.json
  tests/issues/issue-1961.php
Labels: New Agent

#1967 add Citrix Chrome App
  resources/browsers/application.json
  resources/platforms.json
  resources/user-agents/apps/citrix/citrix-chrome-app.json
  tests/issues/issue-1955.php
Labels: New Agent

#1969 add new bots
  resources/browsers/bot.json
  resources/browsers/feed-reader.json
  resources/browsers/multimedia-player.json
  resources/user-agents/crawlers/feeds/feeds-syndicators.json
  resources/user-agents/crawlers/general-crawlers/domaincrawler.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  resources/user-agents/crawlers/general-crawlers/lightspeed-systems-rocketcrawler.json
  resources/user-agents/crawlers/hatena.json
  resources/user-agents/crawlers/rippers/rippers.json
  resources/user-agents/crawlers/search-engines/search-engines.json
  resources/user-agents/crawlers/seo-analytics/seo-analytics.json
  resources/user-agents/crawlers/social-networking/social-networking.json
  resources/user-agents/crawlers/vulnerability-scanners/vulnerability-scanners.json
  resources/user-agents/multimedia-players/media-players.json
  tests/issues/issue-1597.php
  tests/issues/issue-1952.php
  tests/issues/issue-865.php
Labels: New Agent, Update Agent
