Repository browscap/browscap, pull requests merged in 2018-02, with the labels that each got.

#1789 add Jolla Tablet and Jolla C
  resources/devices/mobile-phone/jolla.json
  resources/devices/tablet/jolla.json
  resources/user-agents/browsers/opera-mobile/opera-mobile-14-on.json
  resources/user-agents/browsers/sailfish-browser/sailfish-browser.json
  tests/issues/issue-1281.php
Labels: Update Agent

#1788 add Yezz Andy 5EI3
  resources/devices/mobile-phone/yezz.json
  resources/user-agents/browsers/android-browser/android-browser-4-0.json
  tests/issues/issue-1646.php
Labels: Update Agent

#1791 add O+ 8.36 Android
  resources/devices/mobile-phone/o.json
  resources/user-agents/browsers/android-browser/android-browser-4-0.json
  tests/issues/issue-1740.php
Labels: Update Agent

#1790 ThunderBird for MSSanté
  resources/user-agents/email-clients/thunderbird/thunderbird-mssante.json
  tests/issues/issue-1663.php
Labels: Update Agent

#1797 update JamesBOT
  resources/user-agents/crawlers/seo-analytics/jamesbot.json
  resources/user-agents/crawlers/seo-analytics/seo-analytics.json
  tests/issues/issue-1784.php
  tests/issues/issue-602.php
Labels: Update Agent

#1800 add ViaSat Sparrow
  resources/browsers/browser.json
  resources/user-agents/browsers/viasat-sparrow/viasat-sparrow.json
  tests/issues/issue-1623.php
Labels: New Agent

#1794 add TeslaBrowser
  resources/browsers/browser.json
  resources/user-agents/browsers/tesla-browser/tesla-browser.json
  tests/issues/issue-1717.php
Labels: New Agent

#1796 add adscanner Bot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-1783.php
Labels: New Agent

#1798 add Monitor Backlinks Crawler
  resources/browsers/bot.json
  resources/user-agents/crawlers/seo-analytics/back-links.json
  tests/issues/issue-1785.php
Labels: New Agent

#1792 Add Lovense Browser
  resources/browsers/browser.json
  resources/user-agents/browsers/lovense-browser/lovense-browser.json
  tests/issues/issue-1715.php
Labels: New Agent

#1802 add WhatsApp Bot 2.18
  resources/user-agents/crawlers/whatsapp/whatsapp-bot.json
  tests/issues/issue-1597.php
  tests/issues/issue-1801.php
Labels: Update Agent

#1793 add Baiduspider on iPhone
  resources/user-agents/crawlers/search-engines/baidu.json
  tests/issues/issue-1764.php
Labels: Update Agent

#1808 Adding SM-J320M to some apps/browsers
  resources/user-agents/apps/facebook/facebook-app.json
  resources/user-agents/browsers/android-webview/android-webview-4-0.json
  resources/user-agents/browsers/chrome/chrome-android-43-on.json
  resources/user-agents/browsers/ntent/ntent.json
  resources/user-agents/browsers/samsung/samsung-android-browser-2-0-to-6-0.json
  resources/user-agents/browsers/samsung/samsung-android-browser-6-2-on.json
  tests/issues/issue-1767.php
Labels: Update Agent

#1812 add Relax Melodies App
  resources/browsers/application.json
  resources/devices/mobile-phone/apple.json
  resources/user-agents/apps/ipnos/relax-melodies.json
  resources/user-agents/apps/twitter-app.json
  tests/issues/issue-1716.php
Labels: New Agent

#1816 add new Maxthon rule
  resources/user-agents/browsers/maxthon/maxthon-4-4-on.json
  resources/user-agents/browsers/maxthon/maxthon-generic.json
  tests/issues/issue-1806.php
Labels: Update Agent

#1815 add new version of QtWebEngine
  resources/user-agents/browsers/chrome/chrome-28-to-36.json
  resources/user-agents/browsers/chrome/chrome-37-49.json
  resources/user-agents/browsers/qt/qtwebengine-5-2-on.json
  resources/user-agents/browsers/qt/qtwebengine-5-6-on.json
  resources/user-agents/browsers/qt/qtwebengine-generic.json
  tests/issues/issue-1059.php
  tests/issues/issue-1446.php
  tests/issues/issue-1804.php
Labels: Update Agent

#1818 add new bots
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/elefent-1-2.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  resources/user-agents/crawlers/site-monitors/site-monitors.json
  resources/user-agents/crawlers/social-networking/social-networking.json
  tests/issues/issue-1810.php
Labels: New Agent

#1822 fix duplicate device error
  resources/devices/tablet/micromax.json
  tests/issues/issue-1777.php
  tests/issues/issue-563.php
  tests/issues/issue-687.php
Labels: bug

#1799 add QQBrowser with Trident Engine
  resources/browsers/browser.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-android.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-generic.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-hd-ios.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-ios.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-mac-1-x.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-mac-2-on.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-mini-2-2-on.json
  resources/user-agents/browsers/mqq-browser/mqq-browser-windows.json
  tests/issues/issue-071.php
  tests/issues/issue-096.php
  tests/issues/issue-1048.php
  tests/issues/issue-1323.php
  tests/issues/issue-1417.php
  tests/issues/issue-1423.php
  tests/issues/issue-1495.php
  tests/issues/issue-1630.php
  tests/issues/issue-1757.php
  tests/issues/issue-1786.php
  tests/issues/issue-539.php
  tests/issues/issue-635.php
Labels: Update Agent
