Repository browscap/browscap, pull requests merged in 2020-12, with the labels that each got.

#2392 Adding some missing versions
  resources/user-agents/browsers/115-browser/115-browser.json
  resources/user-agents/browsers/chrome/chrome-ios-73-on.json
  resources/user-agents/browsers/chrome/chrome-ios-generic.json
  resources/user-agents/browsers/coc-coc-browser/coc-coc-browser-39-on.json
  resources/user-agents/browsers/coc-coc-browser/coc-coc-browser-android-48-on.json
  resources/user-agents/browsers/coc-coc-browser/coc-coc-browser-generic.json
  resources/user-agents/browsers/firefox-on-ios/firefox-ios-15-on.json
  resources/user-agents/browsers/firefox-on-ios/firefox-ios-generic.json
  resources/user-agents/browsers/icedragon/icedragon-16-on.json
  resources/user-agents/browsers/kinza/kinza-3-1-on.json
  resources/user-agents/browsers/mint-browser/mint-browser-1-3-on.json
  resources/user-agents/browsers/miui-browser/miui-browser-8-0-on.json
  resources/user-agents/browsers/miui-browser/miui-browser-generic.json
  resources/user-agents/browsers/mobile-safari/mobile-safari-generic.json
  resources/user-agents/browsers/oculus/oculus-browser.json
  resources/user-agents/browsers/opera-mobile/opera-mobile-14-on.json
  resources/user-agents/browsers/opera-touch/opera-touch-1-7-on.json
  resources/user-agents/browsers/oppo/oppo-2-0-on.json
  resources/user-agents/browsers/palemoon/palemoon-27-on.json
  resources/user-agents/browsers/puffin/puffin-7-0-on.json
  resources/user-agents/browsers/samsung/samsung-android-browser-6-2-on.json
  resources/user-agents/browsers/samsung/samsung-tizen-browser.json
  resources/user-agents/browsers/seznam-browser/seznam-browser-3-0-on.json
  resources/user-agents/browsers/silk/silk-generic.json
  resources/user-agents/browsers/uc-browser/uc-web-12.json
  resources/user-agents/browsers/uc-browser/uc-web-generic.json
  resources/user-agents/browsers/vivo/vivo-5-3-on.json
  resources/user-agents/browsers/waterfox/waterfox-56-2-on.json
  resources/user-agents/browsers/yabrowser/yabrowser-android-15-2-on.json
  tests/issues/issue-2391.php
Labels: Update Agent

#2393 Adding Edge on Windows 7, 8 and 8.1
  resources/browsers/browser.json
  resources/user-agents/browsers/edge-browser/edge-76-on.json
  resources/user-agents/browsers/edge-browser/edge-generic.json
  resources/user-agents/browsers/edge-browser/headless-edge-76-on.json
  resources/user-agents/browsers/edge-browser/headless-edge-generic.json
  tests/issues/issue-2390.php
Labels: New Agent

#2395 Adding Safari 14
  resources/user-agents/browsers/safari/safari-14-0.json
  tests/issues/issue-2376.php
Labels: Update Agent

#2404 Update auto releases action
  .github/workflows/release-on-milestone-closed.yml
Labels: enhancement
