Repository browscap/browscap, pull requests merged in 2021-11, with the labels that each got.

#2536 Add Safari 15.1
  resources/user-agents/browsers/mobile-safari/mobile-safari-15-x.json
  resources/user-agents/browsers/safari/safari-15-0-to-15-1.json
  tests/issues/issue-2534.php
Labels: Update Agent

#2537 Safari 15 and 14 minor verions. Samsung Browser versions
  resources/user-agents/browsers/safari/safari-14-0-to-14-2.json
  resources/user-agents/browsers/safari/safari-15-0-to-15-4.json
  resources/user-agents/browsers/samsung/samsung-android-browser-6-2-on.json
  tests/issues/issue-2537.php
Labels: New Agent, Update Agent

#2539 Automatically merge dependabot patch updates that pass build
  .github/workflows/automatic-merge-browscap-updates.yml
Labels: enhancement
