Repository browscap/browscap, pull requests merged in 2022-02, with the labels that each got.

#2567 Add Mobile Safari up to 15.4
  resources/platforms/platforms.json
  resources/user-agents/browsers/mobile-safari/mobile-safari-15-x.json
  tests/issues/issue-2567.php
Labels: Update Agent

#2569 changed exit on error
  .github/dependabot.yml
  .github/workflows/continuous-integration.yml
  composer.json
  composer.lock
  phpstan.neon
  phpunit.xml.dist
  tests/UserAgentsTest/V4/FullTest.php
  tests/UserAgentsTest/V4/LiteTest.php
  tests/UserAgentsTest/V4/StandardTest.php
  tests/phpunit-integration.xml.dist
Labels: bug

#2570 add version 2.9 for Lynx
  resources/user-agents/browsers/misc/lynx.json
  tests/issues/issue-2551.php
Labels: Update Agent

#2571 add AmazonBot
  resources/browsers/bot.json
  resources/user-agents/crawlers/general-crawlers/amazon.json
  resources/user-agents/crawlers/general-crawlers/general-crawlers.json
  tests/issues/issue-2531.php
  tests/issues/issue-513.php
Labels: New Agent
